footer#footer {
    background-color: $darkGreen;
    color: $white;
    height: 400px;

    .footer-container {
        line-height: 1.5;
        padding: 30px 150px;
        .rights{
            text-align: center;
        } 
        
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 400px 1fr 1fr 1fr;
        grid-template-rows: minmax(40vh, 1fr);
        gap: 15px;
        justify-items: center;
        align-items: center;
        
        ul {
            padding-left: 0;
        }
        li {
            color: $green;
            list-style: none;        }
        }

        i.icon {
            color: $white;
            padding-right: 5px;
        }   
}

@media only screen and (max-width: 768px) {
    footer#footer {
        height: auto;
    }
    footer#footer .footer-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    footer#footer .footer-container{
        padding: 30px 50px;
    }
    footer#footer .footer-about-us{
        margin-bottom: 50px;
    }

    footer#footer .rights {
        margin-top: 50px;
    }
}