#resultsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 60px 40px 60px;
    overflow: scroll;
    height: 80vh;
    
    

    .ui.segments {
        margin: 0;
    }
}


#schoolList .ui.segment {
    margin: 20px !important;
    border: 2px solid rgba(57, 57, 58, 0.15);
}

#map {
    background: $green !important;
    position: sticky;
    top: 0;
    position: sticky;
}

#map.ui.segments {
    height: fit-content;
    position: sticky !important;
}

.ui.segment.container {
    background: $green !important;
}

#location a.section{
    color: $darkGreen;
 }

 .ui.segments {
    margin: 20px;
}

i.icon.heart.outline {
    cursor: pointer;
    float: right;
    width: auto;
    color: #1dace5;
    font-size: 17px;
}

i.icon.heart.outline.active {
    color: #2b6777;
    font-family: Icons;
}

