#searchBarMenu {
    padding: 0 100px;
    .active.item {
        background: $blue;
    }
    a.item:hover {
        background: $gray;
    }

    .logo {
        height: 100px;
        width: 100px;
        background-image: url('../styles/images/logo1.png');
        background-position: center;
        background-size: cover;
    }
}

.ui.icon.input>i.icon:not(.link) {
    color: $darkGreen;
    font-size: 1rem;
}

.ui.input.focus>input, .ui.input>input:focus {
    border-color: $darkGreen !important;
}