@import 'variables.scss';
@import 'SearchBarMenu';
@import 'FilterOptions';
@import 'ResultsSection';







   #location a.section{
      color: $darkGreen;
   }

   .ui.segments {
      margin: 20px;
  }

  #map .ui.segment {
     background-color: $darkGreen;
  }